* {
    outline: 1px solid red;
}
body {
    background: linear-gradient(90deg, #222 0%, #222 25%);
    color: #fff;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

.players-container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.players-container div {
    padding: 10px;
}
.players-container .player-one {
    display: flex;
    justify-content: flex-end;
}

.board-container {
    text-align: center;
}

.board-container .board {
    margin: 0 auto;

    height: 600px;
    width: 600px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board-container .board .square {
    border: 1px solid black;
    height: 197px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.board-container .board .square {
    font-size: 4em;
}

.results-container {
    text-align: center;
}

.play-again-container {
    text-align: center;
}

.credits-container {
    padding: 10px;
    text-align: right;
}